#leetcode{
   width: 75px; 
   margin: 25px;
}

body{
   background: whitesmoke; 
   font-family: "Poppins", sans-serif;
   color: #383838;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

p{
   font-size: 2.5rem;
}

h2{
   color: #5C6AC4;
}

ul{
   list-style: none;;
}

footer{
   background: rgb(50,50,50);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;
   width: 100%;
   height: 7.5vh;
   color: whitesmoke;
}