@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins:M|Catamaran:800');
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ff4d4f;
}

section{
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.breadcrumbs_link{
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  color: rgb(39, 39, 39);
  float: left;
  padding: 0 10px;
  border-radius: 5px;
}
