<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Daniel Shwan" />

    <title>Bytown Cuts</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppin|Staatliches|Permanent+Marker">
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/theme.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="./assets/logo.png" alt="logo" style="width: 7.5rem;" ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#staff">Our Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#scheduleCut">Schedule</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section id="title">
      <div class="section_container">
        <p class="section_title" style="font-size: 10rem; color: white">Bytown Cuts</p>
        <h4 style="font-family:'Courier New', Courier, monospace;">How you want it. When you want it.</h4>
        <button id="book_now" type="button" class="btn btn-danger"><a href="#scheduleCut" style="text-decoration: none; color: whitesmoke">Book Now</a></button>
      </div>
    </section>

    <section id="about" class="information_sections">
      <h1 class="section_title">About</h1>
      <h4>Welcome to Bytown Cuts!</h4>
      <p>
        Since 2010, we strive to provide satisfying and beautiful haircuts to anyone with unmatched professionalism.<br/>
        Our quirky, diverse, yet fun team will help you get the style you desire!
      </p>
      <div style="display: inherit; flex-direction: row; margin-top: 20px;">
        <div class="location_and_hours">
          <h6><b>Location</b></h6>
          <hr>
          <p>231 Elgin St, Ottawa, ON K2P 1N1</p>
        </div>
        <div class="location_and_hours">
          <h6><b>Hours</b></h6>
          <hr>
          <p>
            Monday to Friday: 10:30am - 5:00pm<br/>
            Saturday: 11:30am - 4:00pm<br/>
            Sunday: CLOSED
          </p>
        </div>
        <div class="location_and_hours">
          <h6><b>Contact</b></h6>
          <hr>
          <p>
            Email: info@bytowncuts.ca <br/>
            Phone: +1 613 267 2001
          </p>
        </div>
      </div>

    </section>

    <hr>
    <section id="staff" class="information_sections">
      <br>
      <h1 class="section_title">Our Staff</h1>
      <h6><i>Some great things come in small packages!</i></h6>
      <br>
      <div class="card_arrangement">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/Yukari.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Yukari</h4>
            <p class="card-text">
              From Osaka, Japan, Yukari is known to be gentle and careful with her practice.
              With 5 years of experience under her belt, she can confidently cut many different styles ranging to popular styles across Canada
              and the US as well as some from East Asia!
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/Simon.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Simon</h4>
            <p class="card-text">
              A graduate from the Toronto Fade Master Academy, Simon has been in the industry for as far as he can remember. 
              Both a perfectionist and an experimentalist, he devotes himself to delivering the best and never fails to have customers leave with a smile!
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/Alessandro.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Alessandro</h4>
            <p class="card-text">
              The founder of Bytown Cuts and son of a Montreal barber, Alessandro's passion and confident in his practice makes him a fine barber.
              Having over 10 years of experience, Ales' technical ability enables him to cut with great precision; making sure his customers walk
              out as satisfied as possible!
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/Anna.jpeg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">Anne</h4>
            <p class="card-text">
              An Ottawa-native and a passionate stylist, Anne is creative when it comes to her practice. Never fearing the customer's requests, she
              always comes up with a way to give her customers exactly what they want! 
            </p>
          </div>
        </div>
      </div>
    </section>

    <hr>

    <section id="services" class="information_sections">
      <br>
      <h1 class="section_title">Services</h1>
      <h6>Here are some services we provide!</h6>
      <br>
      <div class="card_arrangement">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/FullCut.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cut ($15-40)</h5>
            <p class="card-text">
              Pick your style and we'll cut it!<br/><br/>
              Trim: $15<br/>
              Short: $25<br/>
              Medium (around shoulder): $30<br/>
              Long (after shoulder): $40
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/wash.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Wash ($15)</h5>
            <p class="card-text">
              Need a wash? Our team can give you a warm, comfortable, yet satisfying professional wash using our products.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/bang.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bang ($25)</h5>
            <p class="card-text">
              Want a touch up on your bangs? Our team can help trimming them to your desired length!
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="./assets/dyed.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dye ($40)</h5>
            <p class="card-text">
              Want to add some color to yourself? We'd be happy to dye your hair in any color we have at our salon!
            </p>
          </div>
        </div>
      </div>
      
    </section>


    <hr>

    <section id="scheduleCut">
      <br>
      <br>
      <h1 class="section_title">Schedule a Cut!</h1>
      <form id="book_appointment" action="">
        <div>
          <div class="form_component form-group">
            <label for="text_question">Name:</label>
            <input id="text_question" class="form-control" type="text"></input> 
          </div>
          <div class="form_component form-group">
            <label for="text_question">Email:</label>
            <input id="text_question" class="form-control" type="text"></input> 
          </div>
          <div class="form_component">
            <label for="example-datetime-local-input" >When would you like your appointment?</label>
            <div class="col-10">
              <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
            </div>
          </div>
          <br>
          <div class="form_component">
            <label>Select the service you wish to be provided:</label>
            <div style="flex-direction: row;">
              <div class="form-check form-check-inline">
                 <label for="cut" class="form-check-label selection_label">Cut</label>
                 <input class="form-check-input" name="service" type="checkbox" id="cut" value="cut">
              </div>
              <div class="form-check form-check-inline">
               <label for="dye" class="form-check-label selection_label">Dye</label>
               <input class="form-check-input" name="service" type="checkbox" id="dye" value="dye">
              </div>
              <div class="form-check form-check-inline">
                <label for="bang" class="form-check-label selection_label">Bang</label>
                <input class="form-check-input" name="service" type="checkbox" id="bang" value="bang">
              </div>
              <div class="form-check form-check-inline">
                <label for="wash" class="form-check-label selection_label">Wash</label>
                <input class="form-check-input" name="service" type="checkbox" id="wash" value="wash">
              </div>
            </div>
         </div>
          <br>
          <div class="form_component">
              <label for="prefHairdresser">Is there a hairdresser you'd prefer?</label>
              <select id="prefHairdresser" class="custom-select">
                <option selected>Please select a value</option>
                <option value="1">Yukari</option>
                <option value="2">Simon</option>
                <option value="3">Alessandro</option>
                <option value="4">Anna</option>
                <option value="5">No Preference</option>
              </select>
          </div>
          <br>
          <div class="form_component">
              <label for="additional">Are there any information you wish to let us know?</label>
              <textarea class="form-control" id="additional" cols="10" rows="2"></textarea>
          </div>
          <br>
        </div>
        <button id="submit" type="button" class="btn btn-outline-danger">Schedule Appointment</button>
      </form>
    </section>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.slim.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
  <footer>
    <p>2020 © Daniel Shwan. All Rights Reserved</p>
  </footer>
</html>
