.App{
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  text-align: center;
  background:whitesmoke;
  flex-direction: column;
  height: 92.5vh;
  width: 100vw;

  h1{
    font-size: 3rem;
  }
}

.customButton {
  margin: 15px;
}

.footer{
  position: absolute;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  bottom: 0;
  height: 7.5vh;
  width: 100vw;
  background: rgb(34, 34, 34); 
  font-size: 1.25rem;
  color: whitesmoke;

  p{
    margin:0;
  }
}